= render 'shares/page_header'

.container
  .row
    .col.s12
      %h5
        = t('event.edit')

  = render 'form', event: @event

  .row
    .col.s12
      = link_to t('cancel'), event_items_path(@event),
        class: "waves-effect btn btn-flat white col s12"
