/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "material_icons";
@import "materialize/components/color";
$primary-color:   color("cyan", "base");
$secondary-color: $primary-color;
$link-color:      $primary-color;

// 23. Collections
// ==========================================================================

$collection-hover-bg-color: #f7fbfc;
$collection-link-color: rgba(0, 0, 0, 0.87);
$collection-line-height: 1.5rem;

@import "materialize";

nav#page-header {
  box-shadow: none;
  height: 42px;
  line-height: 42px;
  .brand-logo {
    font-size: 1.2rem;
  }
}

small {
    font-size: 80%;
}

.container {
  max-width: 520px;
}

// form input-group
.input-group {
    display: table;
}

.input-group input, .suffix {
    display: table-cell;
}

.suffix {
    width:1%;
}
